@import "for_all.css";
@media screen and (min-width: 480px){
    .constructor {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .components {
        display: flex;
        justify-content: space-between;
        align-items: end;
        width: 1518px;
        margin-top: 42px;
        margin-bottom: 116px;
    }
    .singleComponent {
        border: 2px solid var(--text);
        border-radius: 10px;
        width: 336px;
        height: 336px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 26px;
        color: var(--text);
    }
    .componentName {
        background-color: var(--backColor);
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 32px;
        width: 82%;
        border-radius: 10px;
        text-align: center;
    }
    .productName {
        background-color: var(--backColor);
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        width: 82%;
        border-radius: 10px;
        text-align: center;
    }
    .change {
        color: var(--border);
    }
    .priceBlock {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .price {
        border-bottom: 2px solid var(--accent);
    }
    .info {
        width: 82%;
        font-size: 16px;
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 700;
        font-style: normal;
        color: var(--text);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 56px;
    }
    .addButton {
        border-bottom: 2px solid var(--accent);
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 32px;
        padding-bottom: 26px;
    }
    .constHeader {
        width: 1570px;
        border-bottom: 2px solid var(--border);
        padding-bottom: 20px;
        padding-left: 62px;
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: var(--text);
        font-size: 32px;
    }
    .product {
        width: 136px;
    }
    .costBlock{
        font-size: 32px;
        color: var(--text);
    }
    .finalCost {
        width: 336px;
        display: flex;
        justify-content: space-between;
    }
    .finalNumbers {
        width: 190px;
        border-bottom: 2px solid var(--accent);
    }
    .warnings{
        padding: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #CF2727;
        background-color: #FFF8C5;
        font-size: 32px;
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        gap: 60px;
    }
    .oneError{
        display: flex;
        align-items: center;
        gap: 30px;
    }
}
@media screen and (max-width: 480px) {
    .constructor {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .components {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        gap: 10px;
        margin-bottom: 30px;
    }   
    .singleComponent {
        border: 1px solid var(--text);
        border-radius: 10px;
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: var(--text);
    }   
    .componentName {
        background-color: var(--backColor);
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        width: 82%;
        border-radius: 10px;
        text-align: center;
    }
    .icon{
        width: 20vw;
        height: 20vw;
    }
    .productName {
        background-color: var(--backColor);
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        width: 82%;
        border-radius: 10px;
        text-align: center;
    }
    .priceBlock {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }   
    .price {
        border-bottom: 1px solid var(--accent);
    }
    .change {
        color: var(--border);
    }
    .info {
        width: 82%;
        font-size: 12px;
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 700;
        font-style: normal;
        color: var(--text);
        display: flex;
        flex-direction: column;
        gap: 6px;
    }    
    .addButton {
        border-bottom: 1px solid var(--accent);
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 16px;
        padding-bottom: 10px;
    }   
    .constHeader {
        width: 70vw;
        border-bottom: 1px solid var(--border);
        padding-bottom: 20px;
        padding-left: 62px;
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: var(--text);
        font-size: 16px;
    }    
    .product {
        width: 20vw;
    }   
    .costBlock {
        width: 200px;
        font-size: 16px;
        color: var(--text);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        border: 1px solid var(--text);
        border-radius: 10px;
    }
    .finalCost {
        display: flex;
        gap: 10px;
    } 
    .finalNumbers {
        border-bottom: 1px solid var(--accent);
    }
    .warnings{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #CF2727;
        background-color: #FFF8C5;
        font-size: 12px;
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding: 4px;
        gap: 10px;
    }
    .oneError{
        display: flex;
        align-items: center;
        gap: 4px;
    }
    .errorIcon{
        width: 16px;
        height: 16px;
    }
}