@import "for_all.css";
@media screen and (min-width: 480px){
    .main1 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 90px;
    }
    .saleButton {
        width: 330px;
        height: 330px;
        border: 2px solid var(--text);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: 32px;
        color: var(--text);
        box-shadow: var(--text) 0 3px 8px;
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 700;
        font-style: normal;
    }
    .saleButton:hover {
        background-color: #8AC9AF;
    }
    .sureBlock {
        color: var(--text);
        font-size: 32px;
        background-image: url("../images/fishes.svg");
        width: 736px;
        height: 420px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 64px;
    }
    .sureWords {
        margin-right: 134px;
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 700;
        font-style: normal;
    }
    .sureButton {
        margin-left: 214px;
        width: 228px;
        height: 61px;
        border: 2px solid var(--text);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: var(--text) 0 3px 8px;
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .sureButton:hover {
        background-color: #8AC9AF;
    }
    .main2 {
        margin-top: 116px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        font-size: 32px;
        color: var(--text);
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .brands {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        width: 1135px;
        height: 434px;
        border: 2px solid #6FB581;
        border-radius: 10px;
    }
    .brandLine {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 140px;
    }
}
@media screen and (max-width: 480px) {
    
}