@import "for_all.css";
@media screen and (min-width: 480px){
    .guide {
        margin-top: 248px;
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 32px;
        color: #1D484E;
        display: flex;
        justify-content: center;
    }
    .content {
        display: flex;
        flex-direction: column;
        gap: 29px;
        padding-bottom: 116px;
    }
    .steps {
        padding-top: 76px;
        padding-bottom: 76px;
        display: flex;
        flex-direction: column;
        gap: 87px;
    }
    .oneStep {
        display: flex;
        align-items: center;
        gap: 235px;
        filter: contrast(20%);
    }
    .oneStep:hover {
        filter: none;
        box-shadow: 0 -5px 5px -5px #1D484E inset;
    }
    .text {
        width: 515px;
        font-size: 16px;
    }
    .number {
        font-size: 64px;
        position: absolute;
        top: 80px; left: 50px;
        color: white;
        font-family: "Syncopate", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}
@media screen and (max-width: 480px) {
}
