@import "for_all.css";
@media screen and (min-width: 480px){
    .salesBlock {
        margin-top: 248px;
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #1D484E;
        font-size: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 116px;
    }
    .saleHeader {
        width: 1570px;
        border-bottom: 2px solid #6FB581;
        padding-bottom: 20px;
        padding-left: 62px;
    }
    .oneSale {
        width: 1080px;
        height: 630px;
    }
    .wait {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 175px;
        background-color: #EEF1D8;
        width: 1080px;
        border-radius: 90px;
        height: 180px;
        margin-bottom: 116px;
    }
}
@media screen and (max-width: 480px) {
}