@import "for_all.css";
body{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn:hover {
    background-color: var(--border);
}
@media screen and (min-width: 480px){
    form{
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 20px;
        border: 2px solid var(--text);
        border-radius: 10px;
        padding: 40px;
    }
    .btn{
        border: 2px solid var(--text);
        border-radius: 10px;
        box-shadow: var(--text) 0 3px 8px;
        width: 150px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
    .inputLine{
        width: 460px;
        height: 50px;
        border: 2px solid var(--text);
        border-radius: 10px;
    }
}
@media screen and (max-width: 480px) {
    form{
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 16px;
        border: 1px solid var(--text);
        border-radius: 10px;
        padding: 40px;
    }
    .btn{
        border: 1px solid var(--text);
        border-radius: 10px;
        box-shadow: var(--text) 0 3px 8px;
        width: 20vw;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
    }
    .inputLine{
        width: 50vw;
        height: 30px;
        border: 2px solid var(--text);
        border-radius: 10px;
    }
}